---
status : 2
securityClass : 0
name : Tests result
password : kkoirt905lfmj6
---

Dear LT. Ryback,
I would greatly prefer not to deliver such news in a message, but due to the circumstances of your current assignment, and the urgency of the matter, I will make an exception.

I have received the pathology results from your latest biopsy, and combined with the CT scan it is safe to say that the last treatment have not been successful. The number of tumors in the lungs have increased dramatically, which means your cancer now meets the classifications of Stage 4. 

Since we have exhausted all other forms of treatment, the next phase will be lung replacement, and it needs to happen soon. 
You are in otherwise perfect health, so if we conduct this properly, I expect you could make a full recovery. However, this would require some adjustments on your part, the main one would be a major life-style change. Vat-grown implanted lungs are highly susceptible to pressure changes, and therefore after the transplant, spaceflight is highly dangerous and should only be attempted when absolutely necessary.

I understand this would be difficult, but I have the utmost confidence that the Federation would greatly benefit from your skills and expertise, even if you are working a desk-job.

We have no time to waste.
Please contact me as soon as possible to schedule the operation.

Lt. Commander E. Maddox. MD.
